<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxEsT-Z1bwCcezqoLhnhRjzowaoTXV4mc&callback=initMap"></script>

<!--<div id="map" class="map_container">

</div>-->

<div class="contact-info">
  <div class="contact-stars">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <span>4.58</span>
    <span>(15,425 reviews)</span>
  </div>
  <h3 class="address-name">National e-Governance Division,4th Floor</h3>
  <p class="address">Lodhi Road, New Delhi</p>
</div>

<div class="contact-address">
  <div class="contact-item">
    <i class="fa fa-map-marker"></i> Electronics Niketan, 6, CGO Complex, Lodhi Road, New Delhi: 110003
  </div>

  <div class="contact-item">
    <i class="fa fa-clock-o"></i> 09:00 to 17:00 working days
  </div>

  <div class="contact-item">
    <i class="fa fa-phone"></i> 1800-11-5246
  </div>

  <div class="contact-item">
    <i class="fa fa-globe"></i> web.umang.gov.in
  </div>

  <div class="contact-item">
    <i class="fa fa-envelope"></i> customercare@umang.gov.in
  </div>
</div>

<div class="contact-short-info">
  <h3 class="title">Short Info</h3>
  <p style="text-align:justify">
    UMANG (Unified Mobile Application for New-age Governance) is envisaged to make e-governance . It is developed by Ministry of Electronics and Information Technology (MeitY) and National e-Governance Division (NeGD) to drive Mobile Governance in India.
    <br><br>
    UMANG provides a single platform for all Indian Citizens to access pan India e-Gov services ranging from Central to Local Government bodies and other citizen centric services.
    UMANG intends to provide major services offered by Central and State Government departments, Local bodies and other utility services from private organizations. It provides a unified approach where citizens can install one application to avail multiple government services.
    <br><br>
    UMANG service has been made available on multiple channels like mobile application, web, IVR and SMS which can be accessed through smartphones, feature phones, tablets and desktops. UMANG  has been created with a thought to add convenience to your lifestyle. UMANG will revolutionize the way how an Indian citizen avails government services today, because it leverages the current accelerated internet and smartphone penetration in our country.
  </p>
</div>
