<section class="container">

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>Donate What You Can</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-dollar"></i>
							<input type="number" name="aaa" class="form-element" placeholder="Amount In Dollars">
						</div>
					</div>
          <div class="form-mini-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-address-book-o"></i>
							<textarea class="form-element" placeholder="Your Purpose"></textarea>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row">
						<a href="#" class="button circle block blue">Donate</a>
					</div>

					<div class="form-divider"></div>

				</section>
