<section class="container">
  <div class="form-divider"></div>

  <div class="form-row">
    <a href="javascript:void(0);" class="button circle block blue"> <i class="fa fa-facebook"></i> Login with FACEBOOK</a>
  </div>
  <div class="form-row">
    <a href="javascript:void(0);" class="button circle block red"><i class="fa fa-google"></i> Login with GOOGLE</a>
  </div>

  <div class="form-divider"></div>
  <div class="form-label-divider"><span>OR</span></div>
  <div class="form-divider"></div>

  <div class="form-row-group with-icons">
    <div class="form-row no-padding">
      <i class="fa fa-envelope"></i>
      <input type="email" name="aaa" class="form-element" placeholder="Username or Email">
    </div>
    <div class="form-row no-padding">
      <i class="fa fa-lock"></i>
      <input type="password" name="aaa" class="form-element" placeholder="Password">
    </div>
  </div>

  <div class="form-row txt-center">
    <a href="forgot-password.html" data-loader="show">Forgot password?</a>
  </div>

  <div class="form-divider"></div>

  <div class="form-row">
    <a href="Javascript:void(0);" class="button circle block green">Login</a>
  </div>

  <div class="form-row txt-center">
    Don't you have an account yet? <a href="#/signup" data-loader="show">Sign Up</a>
  </div>

</section>
