<section class="container">

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>Your Pictures</span></div>
					<div class="form-divider"></div>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img5.jpg" data-caption="View 5" data-id="id5" data-group="group2">
						<img src="img/gallery/img5.jpg">
						<span class="image-name"><b>View 5</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img6.jpg" data-caption="View 6" data-id="id6" data-group="group2">
						<img src="img/gallery/img6.jpg">
						<span class="image-name"><b>View 6</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img7.jpg" data-caption="View 7" data-id="id7" data-group="group2">
						<img src="img/gallery/img7.jpg">
						<span class="image-name"><b>View 7</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img8.jpg" data-caption="View 8" data-id="id8" data-group="group2">
						<img src="img/gallery/img8.jpg">
						<span class="image-name"><b>View 8</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img9.jpg" data-caption="View 9" data-id="id9" data-group="group2">
						<img src="img/gallery/img9.jpg">
						<span class="image-name"><b>View 9</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img10.jpg" data-caption="View 10" data-id="id10" data-group="group2">
						<img src="img/gallery/img10.jpg">
						<span class="image-name"><b>View 10</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img11.jpg" data-caption="View 11" data-id="id11" data-group="group2">
						<img src="img/gallery/img11.jpg">
						<span class="image-name"><b>View 11</b><i class="fa fa-heart-o"></i></span>
					</a>

					<a class="gallery-item half-box photo-viewer" href="img/gallery/img12.jpg" data-caption="View 12" data-id="id12" data-group="group2">
						<img src="img/gallery/img12.jpg">
						<span class="image-name"><b>View 12</b><i class="fa fa-heart-o"></i></span>
					</a>


					<div class="form-divider"></div>
					<div class="form-label-divider"><span>More Pictures</span></div>
					<div class="form-divider"></div>


					<a class="gallery-item photo-viewer" href="img/gallery/img1.jpg" data-caption="View 1" data-id="id1" data-group="group1">
						<img src="img/gallery/img1.jpg">
						<span class="image-name"><b>View 1</b><i class="fa fa-heart-o"></i></span>
					</a>

					<div class="form-mini-divider"></div>

					<a class="gallery-item photo-viewer" href="img/gallery/img2.jpg" data-caption="View 2" data-id="id2" data-group="group1">
						<img src="img/gallery/img2.jpg">
						<span class="image-name"><b>View 2</b><i class="fa fa-heart-o"></i></span>
					</a>

					<div class="form-mini-divider"></div>

					<a class="gallery-item photo-viewer" href="img/gallery/img3.jpg" data-caption="View 3" data-id="id3" data-group="group1">
						<img src="img/gallery/img3.jpg">
						<span class="image-name"><b>View 3</b><i class="fa fa-heart-o"></i></span>
					</a>

					<div class="form-mini-divider"></div>

					<a class="gallery-item photo-viewer" href="img/gallery/img4.jpg" data-caption="View 4" data-id="id4" data-group="group1">
						<img src="img/gallery/img4.jpg">
						<span class="image-name"><b>View 4</b><i class="fa fa-heart-o"></i></span>
					</a>


				</section>
