<section class="container">

					<div class="news-list-item no-image">
						<div class="list-content">
							<span class="list-category orange">Free Neet Class</span>
							<h2 class="list-title"><a href="#">Neet coaching class for students who can't afford.</a></h2>
							<a href="#" class="list-author">Moses</a> - <span class="list-time">5 days ago</span>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="news-list-item no-image">
						<div class="list-content">
							<span class="list-category turquoise">Stationary Materials</span>
							<h2 class="list-title"><a href="#">Free stationary materials for primary students of Maharashtra Government Schools.</a></h2>
							<a href="#" class="list-author">Harshit</a> - <span class="list-time">8 days ago</span>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="news-list-item">
						<div class="list-image">
							<img src="img/assets/news-list-image-2.jpg" width="100" height="100">
						</div>
						<div class="list-content">
							<span class="list-category yellow">Flood</span>
							<h2 class="list-title"><a href="#">Contributions for the people affected by mumbai flood.</a></h2>
							<a href="#" class="list-author">Amrit</a> - <span class="list-time">20 days ago</span>
						</div>
					</div>

				</section>
